# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
.venv/
env/

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# Jupyter
# ------------------------------
.ipynb_checkpoints/

# Dataset
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/README.md

# ------------------------------
# Model Files (optional)
# ------------------------------
models/*.pkl
models/*.joblib